@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@screen sm {
  .dialog-sheet[data-expanded] {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  .dialog-sheet[data-closed] {
    transform: translate3d(-50%, calc(-50% + 30px), 0);
    opacity: 0;
  }
}
